#live
	max-width 60rem
	margin 0 auto
	ul.live__ranking
		position relative
		width 100%
		margin-top 3rem
	li.person
		display block
		background-color $white
		position absolute
		set-type-size(large, false)
		line-height 1
		padding 0.25rem 0
		width 15rem
		text-align left
		transform translate(-50%, 0)
	.live__nav-buttons		
		background-color pink
		height 20px
		position relative
		.button-play
			background-color green
			height 20px
			width 10%
			display inline
		.button-fast
			background-color purple 
			height 20px
			width 10%
			display inline
