#live
	max-width 60rem
	margin 0 auto
	padding 1rem
	min-height 480px
	overflow hidden

	figure
		position relative

	ul.live__ranking
		position relative
		width 100%
		margin-top 3rem
	
	li.person
		// background-color $gray-dark
		position absolute
		font-size 14px
		height $person-height--mobile
		border 2px solid $bg
		line-height 1
		width 16rem
		text-align left
		transform translate(-50%, 0)
		+mq('bp-4')
			width 23rem
			font-size 20px
			height $person-height
		.above
			display flex
			align-items center

		.thumbnail
			display inline-block
			width $person-height--mobile - 4px
			height $person-height--mobile - 4px
			background-repeat no-repeat
			background-size cover
			background-position center 25%
			filter grayscale(67%)
			margin-right 0.5rem
			+mq('bp-4')
				width $person-height - 4px
				height $person-height - 4px
		.rank
			font-size 0.75em
			margin-right 0.5em
		.name
			font-weight 600
			position relative
			cursor pointer
			&:after
				display block
				content '+'
				position absolute
				top 0
				right -1rem
				line-height 1
				font-weight 600
				color currentColor
				opacity 0.67
		.annotation
			position absolute
			display block
			top 0
			right 0
			transform translate(100%, 0)
			padding-left 1rem
			max-width 15rem
			set-type-size(x-small, true)
		
		.edit
			opacity 0.67
			position absolute
			top $person-height--mobile / 2
			right 0.5em
			border none
			transform translate(0, 0%)
			display none
			transition opacity 250ms
			&.is-transparent
				opacity 0
			+mq('bp-4')
				display block
				top $person-height / 2
			svg
				width 1.25rem
				height 1.25rem
				fill none 
				stroke $bg
				stroke-width 2 
				stroke-linecap round 
				stroke-linejoin round 

		&.is-below
			height $person-height--mobile * 4
			.below
				display block
			+mq('bp-4')
				height $person-height * 4
			.name:after
				content '-'

		.below
			padding 0.5rem
			display none
			.description
				margin 0
				font-weight 500
				set-type-size(small, true)
			
			.trend
				margin-top 0.5rem
				// width 100%
				// height $person-height

		path.line
			fill none
			stroke-linecap round
		
		path.area
			stroke none
			fill-opacity 0.5
		
		text
			fill-opacity 0.75
			set-type-size(xx-small)
			text-transform uppercase
			letter-spacing 0.05em
			font-weight 500
		
		line.top-10
			stroke-width 0.5px
			stroke-opacity 0.5
			stroke-dasharray 4px 6px

				
	nav
		margin-bottom 1.75rem
	.options
		display flex
		justify-content center

		label
			display block
			text-align center
			set-type-size(xx-small, false)
			margin-bottom 0.25em
			text-transform uppercase
			font-weight 600
			letter-spacing 0.05em
			color $gray
		
		button
			display block
			width 5rem
			text-align center
			background-color $gray-light
			border-radius 3px
			padding 0.25em
			margin 0 0.25em
			font-weight 600
			set-type-size(small, false)

	.live__date-counter
		display none
		position absolute
		top 50%
		left 12.5%
		set-type-size(xx-large, false)
		line-height 1
		color $gray
		font-weight 300
		width 5rem
		transform translate(-50%, -50%)
		+mq('bp-4')
			display block
	
	.live__slider
		max-width 90%
		margin 0 auto