#tally
	padding 0 1rem
	.tally__intro
		max-width 30rem
		margin 0 auto
		margin-bottom 3rem
	h3
		text-align center
		font-weight 300
		margin-bottom 3rem
		set-type-size(large, false)
		line-height 1.25
		+mq('bp-4')
			set-type-size(x-large, false)
			line-height 1.25
	.tally__feature
		max-width 60rem
		margin 0 auto
	
	.tally__category	
		max-width 60rem
		margin 0 auto
	
	.tally__figures
		display flex
		flex-wrap wrap
		justify-content center
		max-width 60rem
		&--feature
			figure
				width 100%
		&--category
			figure
				width 100%
				+mq('bp-5')
					width 50%
	figure
		position relative
		margin-bottom 3rem
	.label
		position absolute
		left 50%
		top 0
		transform translate(-50%, -100%)
		display inline-block
		color $bg
		font-weight 600
		margin 0 auto
		padding 0 1em
		background-color $fg
		color $bg
		set-type-size(x-small, true)
		text-align center
		text-transform uppercase
		width 15rem
		+mq('bp-4')
			width auto
	.misc
		.label
			background-color $misc
		.person path
			stroke $misc
	.film
		.label
			background-color $film
		.person path
				stroke $film
	.sports
		.label
			background-color $sports
		.person path
			stroke $sports
	.music
		.label
			background-color $music
		.person path
			stroke $music
	.culture
		.label
			background-color $culture
		.person path
			stroke $culture

	.person
		path
			stroke $gray-light
			stroke-opacity 1
			fill none
		text
			visibility hidden
			font-weight 600
			set-type-size(x-small, false)
			letter-spacing 0.03em
			&.bg
				fill none
				stroke $bg
				stroke-width 3px
			&.fg
				fill $white

		&.is-active
			path
				stroke-width 2px
				stroke-opacity 1	
			text
				visibility visible
			&.misc path
				stroke $misc
			&.film path
				stroke $film
			&.sports  path
				stroke $sports
			&.music path
				stroke $music
			&.culture path
				stroke $culture

	.g-voronoi
		path
			fill-opacity 0
			stroke-opacity 0
			stroke-width 0

	.g-axis
		text
			fill $off-white
			font-weight 600
			font-size 12px
			font-family $sans

	.axis--y
		line
			stroke $off-white
			stroke-dasharray 4px 4px
			stroke-opacity 0.2
		path
			display none
		.tick:first-of-type
			display none
			

	.axis--x
		line
			display none
		path
			display none

	
	