#tally
	.person
		path
			stroke $gray
			fill none
		text
			visibility hidden
			font-weight 900
			fill $white

		&.is-active
			path
				stroke-width 2px
				stroke $white
			text
				visibility visible

	.g-voronoi
		path
			fill-opacity 0
			stroke-opacity 0