<section id='live'>
    <div class='live__nav-buttons'>
        <div class='button-play'>PLAY/PAUSE</div>
        <div class='button-fast'>FAST</div>
    </div>
    <div class='live__slider slider'></div>
    <div class='live__date-counter'></div>
    <ul class='live__ranking'></ul>
</section>