<section id='live'>
	<nav class='live__nav'>
		<fieldset>
			<div class='options'>
				<div class='autoplay'>
					<label for='btn--autoplay'>Autoplay</label>
					<button id='btn--autoplay' class='btn btn--autoplay' alt='pause animation'>Pause</button>
				</div>
				<div class='speed'>
					<label for='speed-btn'>Speed</label>
					<button id='btn--speed' class='btn btn--speed'>Slow</button>
				</div>
			</div>	
		</fieldset>
	</nav>
	<figure>
		<div class='live__slider slider'></div>
		<div class='live__date-counter'></div>
		<ul class='live__ranking'></ul>
	</figure>
</section>