<section id='tally'>
	<div class='tally__feature'>
		<h3>{{{copy.featureHed}}}</h3>
		<div class='tally__figures tally__figures--feature'>
		
		</div>
	</div>
	
	<div class='tally__category'>
		<h3>{{{copy.categoryHed}}}</h3>
		<div class='tally__figures tally__figures--category'>
	
		</div>
	</div>
    {{!-- <div class='tally__established'>
        <figure>
            <svg>
                <g class='g-axes'>
                    <g class='g-axis--x'></g>
                    <g class='g-axis--y'></g>
                </g>
                <g class='g-viz'></g>
            </svg>
        </figure>
    </div> --}}
</section>